* {
	box-sizing: border-box;
}

.slider-imagenes, .slider-noticia {
	display: none
}

.contenedor-imagen {
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	vertical-align: middle;
	align-self: center;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

.slider-wrapper {
	max-width: 100%;
	position: relative;
	margin: auto;
}

.anterior, .siguiente {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6 ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.siguiente {
	right: 0px;
	border-radius: 3px 0 0 3px;
}

.anterior:hover, .siguiente:hover {
	background-color: #f1f1f1;
	gh repo clone KenneyNL/Starter-Kit-City-Buildergh repo clone KenneyNL/Starter-Kit-City-Buildergh repo clone KenneyNL/Starter-Kit-City-Buildercolor: black;
}
